body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
}

.navbarparent {
    width: 100%;
    padding-top: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.navbarparent > div > h1 {
    display: block;
    margin: 0;
    z-index: 999;
}

.navbarparent > div:first-child {
    margin-left: 16px;
}

.navbarparent > div:last-child {
    margin-right: 16px;
}

.navbar {
    background-color: #fffcc77e;
    box-sizing: border-box; 
    font-family: 'Louis George Cafe', sans-serif;

    margin: auto;
    padding: 0;
    width: fit-content; /* 17.5 em = 280px*/
    max-height: 46px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: #8b8d8f 0px 2px 8px;
}

.navbarparent > .navbar a {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-size: 0.8125em;
    width: 70px;
    display: inline-block;
    text-align: center;
    padding: 16px 12px;
}

.navbar:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

.navbar > a:hover {
    color: black;
    background-color: white;
    transition: 0.2s ease-out;
}

.navbar > a:first-child:hover {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.navbar > :last-child:hover {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

header {
    height: 100vh;
    width: 100%;
    overflow: hidden;

}

header > div {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: inherit;
}

header > video {
    height: 100%;
    width: 100%;
    /* min-height: inherit;
    min-width: 100%; */
    position: absolute;
    object-fit: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header > section {
    position: relative;
    height: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.75);
}

header > section > main, aside {
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    font-family: "Montserrat", sans-serif;
}

header section > main > h1 {
    width: 420px;
    font-size: 3.5em; /*56px*/
    text-align: left;
    margin: 0 0 0 0;
}

header > section > main > p {
    font-size: smaller;
    text-align: justify;
    width: 420px;
    height: fit-content;
}

article {
    /* padding: 48px; */
    box-sizing: border-box;
    width: inherit;
    height: fit-content;
    min-width: 100%;
    /* background-color: transparent; */
    background-color: grey;
    background-image: url("Assets/desktop-wallpaper-nordic-kde-winter-nordic.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

section {
    height: 900px;
    /* margin-bottom: 48px; */
}

/* INTRO */
#intro {
    height: fit-content;
    padding: 128px 128px;
    color: white;
    background-color: #0E100F;
    box-sizing: border-box;
}

/* #intro > div {
    background: url(Assets/desktop-wallpaper-nordic-kde-winter-nordic.jpg) no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

#intro h1 {
    width: 400px;
    /* height: 100%; */
    margin: 32px 0px 32px 0px;
    color: #FAF9F6;
    font: 600 150px 'Montserrat'; /* 22vh */
    line-height: 1.0;
    letter-spacing: 2px;
}

#intro hr:nth-child(2) {
    width: 90%;
}

#intro hr:nth-child(1) {
    width: 80%;
}

#intro hr:nth-child(6) {
    width: 90%;
}

#intro hr:nth-child(7) {
    width: 80%;
}

#intro img {
    width: 100px;
    display: block;
    margin: auto;
    text-align: center;
    filter: invert(1);
}

/* PROFILE */
section#profile {
    height: 940px;
    background-color: #EEF7FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-title {
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
}

#profile-title h1 {
    margin: 0;
    text-align: center;
    font-weight: 580;
    font-size: 28px;
}

#profile-title p {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
}

#profile-box {
    margin-top: 100px;
    width: 95%;
    height: 60%;
    border-radius: 2rem;
    background-color: lightblue;
}

/* PROJECTS */
section#project {
    margin: 48px;
    height: 1000px;
    background-color: #EEF7FF;
    display: flex;
}

#gallery-wrapper {
    width: 1270px;
    height: 1000px;
    background-color: #8b8d8f;
    display: flex;
}

#gallery-wrapper > main {
    width: 60%;
    height: inherit;
    background-color: #8b8d8f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gallery-wrapper main figure {
    width: 682px;/* width: 612px;90% of 680px */
    height: 405px;/* 90% of 450px */
    background-color: rgb(171, 203, 204);
    position: relative;
    /* transform: scale(0.9); */
}

#gallery-wrapper main figure img {
    width: 100%;
    max-height: 100%;
    position: absolute;
}

#gallery-wrapper main figure .caption {
    width: 100%;
    height: 20%;
    padding: 18px 0px 0px 12px;
    background-color: #dddddd;
    /* background-color: rgba(255, 255, 255, 75%); */
    position: absolute;
    box-sizing: border-box;
    z-index: 10;
    bottom: 0;
}

.caption > * {
    margin: 0;
}

#gallery-wrapper > aside {
    width: 40%;
    height: inherit;
    background-color: #ffc392;
    box-sizing: border-box;
    display: inline-block;
    /* flex-direction: column; */
}

#gallery-wrapper aside > div {
    width: 100%;
    height: 50%;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
}

#gallery-wrapper aside .project-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 32px;
}

#gallery-wrapper aside .project-cards-container .project-cards {
    width: 444px;
    height: 436px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#gallery-wrapper aside .project-cards-container .project-cards figure {
    width: 140px;
    height: 140px;
    background-color: white;
}

.autoslide-ancestor {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gallery-wrapper aside .autoslide-ancestor .autoslide-parent {
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gallery-wrapper aside .autoslide-ancestor .autoslide-parent {
    width: 75%; /* 380px */
    height: fit-content;
    /* justify-content: center; */
}

#gallery-wrapper aside .autoslide-ancestor .autoslide-parent div.autoslide {
    width: 170px;
    height: 360px;
    background-color: #EEF7FF;
    /* display: flex; */
}

#gallery-wrapper aside .autoslide-ancestor .autoslide-parent div.autoslide:first-child {
    margin-right: 1vw;
}

#gallery-wrapper aside .autoslide-ancestor .autoslide-parent div.autoslide:last-child {
    margin-left: 1vw;
}

div.autoslide {
    display: flex;
    border-radius: 6px;
    flex-direction: column;
    overflow-y: scroll;
}

div.autoslide img {
    max-width: 100%;
    margin: 0;
}

section.contact {
    background-color: #72727280;
    /* opacity: 10%; */
}