body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
}

.navbarparent {
    width: 100%;
    padding-top: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.navbarparent > div > h1 {
    display: block;
    margin: 0;
    z-index: 999;
}

.navbarparent > div:first-child {
    margin-left: 16px;
}

.navbarparent > div:last-child {
    margin-right: 16px;
}

.navbar {
    background-color: #fffcc77e;
    box-sizing: border-box; 
    font-family: 'Louis George Cafe', sans-serif;

    margin: auto;
    padding: 0;
    width: fit-content; /* 17.5 em = 280px*/
    max-height: 46px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: #8b8d8f 0px 2px 8px;
}

.navbarparent > .navbar a {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-size: 0.8125em;
    width: 70px;
    display: inline-block;
    text-align: center;
    padding: 16px 12px;
}

.navbar:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

.navbar > a:hover {
    color: black;
    background-color: white;
    transition: 0.2s ease-out;
}

.navbar > a:first-child:hover {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.navbar > :last-child:hover {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

header {
    height: 100vh;
    width: 100%;
    overflow: hidden;

}

header > div {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: inherit;
}

header > video {
    height: 100%;
    width: 100%;
    /* min-height: inherit;
    min-width: 100%; */
    position: absolute;
    object-fit: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header > section {
    position: relative;
    height: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.75);
}

header > section > main, aside {
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    font-family: "Montserrat", sans-serif;
}

header section > main > h1 {
    width: 420px;
    font-size: 3.5em; /*56px*/
    text-align: left;
    margin: 0 0 0 0;
}

header > section > main > p {
    font-size: smaller;
    text-align: justify;
    width: 420px;
    height: fit-content;
}

article {
    padding: 48px;
    box-sizing: border-box;
    width: inherit;
    height: fit-content;
    min-width: 100%;
    /* background-color: transparent; */
    background-color: grey;
    background-image: url("Assets/desktop-wallpaper-nordic-kde-winter-nordic.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

section {
    height: 900px;
    margin-bottom: 48px;
}

/* PROFILE */
.profile {
    position: relative;
    background-color: #EEF7FF;
}

.profile img {
    position: absolute;
}

.img-medium {
    width: 156px;
    height: auto;
}

.img1 {
    filter: brightness(25%);
    z-index: 1;
    left: 15px;
    top: 15px;
}

.img2 {
    filter: brightness(50%);
    z-index: 2;
    left: 30px;
    top: 30px;
}

.img3 {
    filter: brightness(75%);
    z-index: 3;
    left: 45px;
    top: 45px;
}

/* PROJECTS */
.project {
    height: 1000px;
    background-color: #EEF7FF;
    display: flex;
}

.project > main {
    width: 60%;
    height: inherit;
    background-color: #8b8d8f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project main figure {
    width: 682px;/* width: 612px;90% of 680px */
    height: 405px;/* 90% of 450px */
    background-color: rgb(171, 203, 204);
    position: relative;
    /* transform: scale(0.9); */
}

.project main figure img {
    width: 100%;
    max-height: 100%;
    position: absolute;
}

.project main figure .caption {
    width: 100%;
    height: 20%;
    padding: 18px 0px 0px 12px;
    background-color: #dddddd;
    /* background-color: rgba(255, 255, 255, 75%); */
    position: absolute;
    box-sizing: border-box;
    z-index: 10;
    bottom: 0;
}

.caption > * {
    margin: 0;
}

.project > aside {
    width: 40%;
    height: inherit;
    background-color: #ffc392;
    box-sizing: border-box;
    display: inline-block;
    /* flex-direction: column; */
}

.project aside > div {
    width: 100%;
    height: 50%;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
}

.project aside .project-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 32px;
}

.project aside .project-cards-container .project-cards {
    width: 444px;
    height: 436px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.project aside .project-cards-container .project-cards figure {
    width: 140px;
    height: 140px;
    background-color: white;
}

.autoslide-ancestor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project aside .autoslide-ancestor .autoslide-parent {
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project aside .autoslide-ancestor .autoslide-parent {
    width: 75%; /* 380px */
    height: fit-content;
    /* justify-content: center; */
}

.project aside .autoslide-ancestor .autoslide-parent div.autoslide {
    width: 170px;
    height: 360px;
    background-color: #EEF7FF;
    /* display: flex; */
}

.project aside .autoslide-ancestor .autoslide-parent div.autoslide:first-child {
    margin-right: 1vw;
}

.project aside .autoslide-ancestor .autoslide-parent div.autoslide:last-child {
    margin-left: 1vw;
}

div.autoslide {
    display: flex;
    border-radius: 6px;
    flex-direction: column;
    overflow-y: scroll;
}

div.autoslide img {
    max-width: 100%;
    margin: 0;
}

section.contact {
    background-color: #dddddd;
}

#popup {
    width: 960px;
    height: 360px;
    background-color: red;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    display: flex;
    position: fixed;
    z-index: 99;
    transform: scale(0.8);
    align-self: center;
}

#popup-main {
    width: 35%;
    height: inherit;
}

#popup-main > img {
    width: 100%;
    height: 100%;
}

#popup-aside {
    width: 65%;
    height: inherit;
    padding: 32px 0px 32px 24px;
    background-color: #342E37;
    color: white;
    display: inline-block;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    box-sizing: border-box;
}

#popup-aside > h1 {
    font-size: 1.2em;
}

#popup-aside > p {
    font-size: medium;
    font-weight: 300;
    width: 90%;
}

#popup-aside > button {
    /* width: 96px;
    height: 36px; */
    padding: 12px 18px;
    background-color: lightblue;
    color: rgb(43, 119, 77);
    border: none;
}


#popup-aside > hr {
    border: none;
    height: 2px;
    background-color: #fff;
    /* text-align: ; */
    width: 90%;
    margin-left: 0px;
    /* margin: 20px auto; */
}