body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
}

.navbarparent {
    width: 100%;
    padding-top: 20px;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.navbarparent > div > h1 {
    display: block;
    margin: 0;
    z-index: 999;
}

.navbarparent > div:first-child {
    margin-left: 16px;
}

.navbarparent > div:last-child {
    margin-right: 16px;
}

.navbar {
    background-color: rgba(43, 71, 94, 0.7);
    box-sizing: border-box; 
    font-family: 'Louis George Cafe', sans-serif;

    margin: auto;
    padding: 0;    
    width: fit-content; /* 17.5 em = 280px*/
    max-height: 46px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: #8b8d8f 0px 2px 8px;
}

.navbarparent > .navbar a {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-size: 0.8125em;
    width: 70px;
    display: inline-block;
    text-align: center;
    padding: 16px 12px;
}

.navbar:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

.navbar > a:hover {
    color: black;
    background-color: white;
    transition: 0.2s ease-out;
}

.navbar > a:first-child:hover {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.navbar > :last-child:hover {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

header {
    height: 660px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

header > video {
    min-height: inherit;
    min-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header > section {
    position: relative;
    height: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.75);
}

header > section > main, aside {
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    font-family: "Montserrat", sans-serif;
}

header > section > main > h1 {
    font-size: 4.5em;
}

article {
    height: fit-content;
    min-width: 100%;
    background-color: #EEF7FF;
}

#profile {
    height: 1000px;
    background-color: #EEF7FF;
    /*background-color: #8b8d8f*/;
    padding: 32px;
}

.profile-text {
    margin-bottom: 32px;
}

.profile-card-container {
    display: flex;
    height: 80%;
    padding: 32px;
    box-sizing: border-box;
}

.profile-card {
    height: 100%;
    width: 40%;
    background-color: blue;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    
    text-align: center;
    padding-top: 12vh;
    box-sizing: border-box; 
}

.profile-card > img {
    margin: auto auto 32px;
    height: 30%;
    width: auto;
    border-radius: 50%;
    display: block;
}

.profile-info {
    font-family: 'Red Hat Display', sans-serif;
    height: 50%;
}
.profile-info > p {
    margin: auto;
    width: 75%;
    text-align: justify;
    line-height: 1.4;
    font-size: smaller;
}

.profile-card button {
    margin: auto 16px;
    font-size: 1vw;

    text-align: center;
    padding: 14px 22px;
    background-color: #57b157;
    text-decoration: none;
    border: none;
    color: white;
}

.profile-subcard {
    height: 100%;
    width: 60%;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    /*display: flex;
    justify-content: center;*/
    text-align: center;
    background-color: #ececec;
}

.profile-subcard > div {
    margin: 24px;
    height: 42%;
    width: 38%;
    background-color: red;
    display: inline-block;
}

.profile-subcard > div > h1 {
    margin: 0;
}


/* ARTICLE AND SECTIONS*/
section {height: 900px;}
#news {background-color: #FFD24C;} 
#collab {background-color: #073B3A;}
#office {background-color: transparent; position: relative; height: 750px; overflow: hidden;}
    #office > img {position: absolute; width: 100%; height: 100%; top: 0; right: 0; bottom: 0; left: 0;}
    #office > div {position: relative; width: 100%; height: inherit; margin: 0; top: 0; right: 0; bottom: 0; left: 0;
                background-color: rgba(0, 0, 0, 0.8);}

#contact {background-color:  #344E41/*#1D2E28*/;}


footer {
    height: 150px;
    min-width: 100%;
    background-color: #073B3A;
}

.small-text {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 0.9vw;
    font-weight: light;
    text-align: justify;
    width: 80%;
    margin: 8px auto 0;    
}

.big-text {
    font-size: 42px;
}

.intro {
    margin: 0;
    line-height: 1.6;
}

.expertise {
    box-sizing: border-box;
    padding: 16px;
}